@CHARSET "ISO-8859-1";

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0px;
}

.form-control{
	border-radius: 0;
}


.container {
   
    margin-top: 130px;
     
}

.arabic{
	font-size: 18px;
}


