@CHARSET "ISO-8859-1";
a, a:hover, a:focus, a:active, a.active {
    outline: 0 none;
}
ul, ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: outside none none;
}
a {
    color: #ff432e;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 21px;
}
.btn-primary {
    background-color: #ff432e;
    border-color: #ff432e;
    border-radius: 3px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    border-color: #ea321e;
    color: #fff;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #ff432e;
    border-color: #ff432e;
}
.section-title h3 {
    color: #666 !important;
    font-family: "Oswald",sans-serif;
    font-size: 28px;
    text-transform: none;
}
.section-title p {
    color: #999;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 60px;
}
#logo-section {
}
.logo h1 {
    color: #fff;
    font-family: "Lobster",cursive;
    font-size: 60px;
}
.logo span {
    color: #999;
}
.blue {
    background: #28abe3 none repeat scroll 0 0;
}
.green {
    background: #72bf48 none repeat scroll 0 0;
}
.red {
    background: #ff432e none repeat scroll 0 0;
}
.light-red {
    background: #fb6648 none repeat scroll 0 0;
}
.light-orange {
    background: #fa6900 none repeat scroll 0 0;
}
.color {
    background: #0eceab none repeat scroll 0 0;
}
.purple {
    background: #9b59b6 none repeat scroll 0 0;
}
.mainbody-section {
    padding-bottom: 30px;
    padding-top: 30px;
}
.menu-item {
    border: 5px solid transparent;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.menu-item:hover {
    border: 5px solid rgba(255, 255, 255, 0.7);
}
.menu-item a {
    color: #fff;
    display: block;
    transition: all 0.3s ease 0s;
}
.menu-item a p {
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.menu-item a i {
    font-size: 30px;
    padding-bottom: 10px;
}
.menu-item:hover a {
    text-decoration: none;
}
@media only screen and (min-width: 600px) and (max-width: 991px) {
.menu-item {
    display: inline-block;
    width: 32.8%;
}
.menu-item.responsive {
    float: left;
    margin-right: 3px;
    margin-top: 5px;
    width: 49.5%;
}
.menu-item.responsive-2 {
    float: right;
    margin-top: 5px;
    width: 49.5%;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.menu-item {
    padding-bottom: 15px;
    padding-top: 15px;
}
.menu-item a i {
    font-size: 32px;
}
.menu-item a p {
    font-size: 16px;
}
}
#owl-demo .item img {
    display: block;
    height: auto;
    width: 100%;
}
.home-slider {
    margin-top: 30px;
}
.home-slider img {
    height: auto;
    width: 100%;
}
.home-slider .carousel-inner {
    height: 400px;
}
.home-slider .carousel-indicators {
    bottom: 10%;
    position: absolute;
}
.home-slider .carousel-indicators .active {
    background-color: #ff432e;
}
.copyright {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}
.section-modal .modal-content {
    background-clip: border-box;
    border: 0 none !important;
    border-radius: 0;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;
    min-height: 100%;
    padding: 100px 0 !important;
}
.section-modal .close-modal {
    background-color: transparent;
    cursor: pointer;
    height: 75px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 75px;
}
.section-modal .close-modal:hover {
    opacity: 0.3;
}
.section-modal .close-modal .lr {
    background-color: #222;
    height: 75px;
    margin-left: 35px;
    transform: rotate(45deg);
    width: 1px;
    z-index: 1051;
}
.section-modal .close-modal .lr .rl {
    background-color: #222;
    height: 75px;
    transform: rotate(90deg);
    width: 1px;
    z-index: 1052;
}
.feature, .feature-2 {
    padding-bottom: 80px;
}
.feature {
    text-align: center;
}
.feature h4 {
    color: #666;
    font-family: "Oswald",sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.feature-2 h4 {
    color: #444;
    font-family: "Oswald",sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
}
.feature p, .feature-2 p {
    color: #444;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.feature i {
    background: #ff432e none repeat scroll 0 0;
    border-radius: 70%;
    box-shadow: 0 0 0 30px transparent;
    color: #fff;
    font-size: 3.5em;
    height: 100px;
    margin-bottom: 10px;
    padding: 25px;
    position: relative;
    transition: box-shadow 0.6s ease-in-out 0s;
    width: 100px;
}
.no-touch .feature:hover i, .no-touch .feature:active i, .no-touch .feature:focus i {
    box-shadow: 0 0 0 0 #ff432e;
    transition: box-shadow 0.4s ease-in-out 0s;
}
.feature-2 i {
    color: #ff432e;
    font-size: 3em;
    padding: 1px 10px 0 1px;
    position: relative;
}
.portfolio-item {
    margin-bottom: 30px;
    position: relative;
}
.portfolio-item .portfolio-details {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.portfolio-item .portfolio-details h4 {
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10%;
    padding-top: 20%;
}
.portfolio-item .portfolio-details a i {
    font-size: 30px;
}
.portfolio-item:hover .portfolio-details {
    animation: 300ms ease 0s normal none 1 running pulse;
    opacity: 1;
}
.about-text {
    padding-bottom: 50px;
}
.about-text p {
    color: #777;
    text-align: justify;
}
.about-text ul {
    font-size: 13px;
    margin-top: 30px;
}
.about-text li {
    color: #999;
    margin-bottom: 10px;
}
.about-text li i {
    color: #ff432e;
    padding-right: 10px;
}
.skill {
    padding-bottom: 5px;
}
.skill p {
    margin-bottom: 7px;
}
.progress {
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    height: 20px;
    margin-bottom: 10px;
    overflow: visible;
}
.progress-bar {
    background: #ff432e none repeat scroll 0 0;
    box-shadow: none;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 100%;
    position: relative;
    text-align: center;
    transition: width 0.6s ease 0s;
}
.progress-bar-span {
    background: #acb2b8 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    opacity: 1;
    padding: 3px 10px;
    position: absolute;
    right: 0;
    top: -5px;
    transition: all 0.5s ease-in-out 0s;
}
.skill:hover .progress-bar-span {
    opacity: 1;
    transition: all 0.5s ease-in-out 0s;
}
.custom-tab .nav-tabs.nav-justified > .active > a, .custom-tab .nav-tabs.nav-justified > .active > a:hover, .custom-tab .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ddd;
    border-radius: 0;
    color: #666;
}
.custom-tab .nav-tabs.nav-justified {
    background: #ff432e none repeat scroll 0 0;
    margin-bottom: 20px;
}
.custom-tab .nav-tabs.nav-justified > li {
    border-right: 1px solid #f1f1f1;
}
.custom-tab .nav-tabs.nav-justified > li:last-child {
    border-right: medium none;
}
.custom-tab .nav-tabs.nav-justified > li > a {
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}
.custom-tab .nav-tabs.nav-justified > li > a:hover {
    border-radius: 0;
    color: #333;
}
.custom-tab .tab-content .tab-pane p {
    color: #777;
    text-align: justify;
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
.custom-tab {
    margin-top: 30px;
}
}
.pricing-section {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 80px 0;
}
.pricing-table {
    background: #fff none repeat scroll 0 0;
    text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
.pricing-table {
    margin-bottom: 30px;
}
}
.plan-name {
    background: #ff432e none repeat scroll 0 0;
    padding: 15px 0;
}
.plan-name h3 {
    color: #fff;
    font-weight: 300;
}
.plan-price {
    padding: 25px 0;
}
.plan-price .price-value {
    color: #444;
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
}
.plan-price .price-value span {
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
}
.plan-price .interval {
    line-height: 14px;
}
.plan-list li {
    border-bottom: 1px solid #eee;
    font-size: 14px;
    padding: 13px;
}
.plan-list li:first-child {
    border-top: 1px solid #eee;
}
.plan-signup {
    background: #ff432e none repeat scroll 0 0;
    padding: 25px 0;
}
.plan-signup a {
    color: #fff;
    text-transform: uppercase;
}
.team-member {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.team-details {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    font-family: "Open Sans",sans-serif;
    height: 100%;
    opacity: 0;
    padding-left: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}
.team-member img {
    height: auto;
    width: 100%;
}
.team-details h4 {
    color: #ff432e;
    font-family: "Oswald",sans-serif;
    font-size: 25px;
    font-weight: 300;
    padding-top: 20%;
    text-align: center;
    text-transform: none;
}
.team-details .designation {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.team-details ul {
    padding-top: 40%;
}
.team-details li {
    display: inline-block;
    list-style: outside none none;
    padding-right: 10px;
}
.team-details li a {
    background: #ff432e none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    padding: 5px 8px;
}
.team-member:hover .team-details {
    animation: 300ms ease 0s normal none 1 running pulse;
    opacity: 1;
}
.latest-post {
    padding-bottom: 20px;
}
.latest-post h4 {
    padding-bottom: 5px;
    padding-top: 20px;
}
.latest-post h4 a {
    color: #ff432e;
}
.latest-post .post-details li {
    color: #999;
    display: inline;
    font-size: 13px;
    padding-right: 10px;
}
.latest-post .post-details li i {
    color: #ff432e;
    padding-right: 5px;
}
.latest-post p {
    color: #999;
    font-weight: 300;
    padding: 15px 0;
    text-align: justify;
}
.footer-contact-info {
    background: #ff432e none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    padding: 20px 30px;
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
.footer-contact-info {
    margin-bottom: 30px;
    margin-top: 30px;
}
}
.footer-contact-info ul {
    padding-bottom: 10px;
}
.footer-contact-info h4 {
    padding-bottom: 10px;
}
.footer-contact-info li strong {
    font-weight: 600;
}
.footer-social {
    border: 1px solid #ff432e;
    border-radius: 3px;
    padding: 78px 0;
}
.footer-social li {
    display: inline-block;
    padding: 0 10px;
}
@media only screen and (max-width: 360px) {
.footer-social li {
    padding: 0 5px;
}
}
.footer-social li a {
    background: #ff432e none repeat scroll 0 0;
    border: 1px solid #ff432e;
    border-radius: 2px;
    color: #fff;
    padding: 8px;
}
.footer-social li i {
    font-size: 15px;
    height: 20px;
    width: 20px;
}
.footer-social li:hover a {
    background: #fff none repeat scroll 0 0;
    color: #666;
}
.contact .btn-primary {
    font-size: 16px;
    padding: 20px;
}
.contact .btn-primary:hover {
    background: transparent none repeat scroll 0 0;
}
.contact .section-title h3 {
    color: #fff;
}
.contact .section-heading {
    color: #fff;
}
.contact .form-group {
    margin-bottom: 25px;
}
.contact .form-group input, .contact .form-group textarea {
    padding: 20px;
}
.contact .form-group input.form-control {
    height: auto;
}
.contact .form-group textarea.form-control {
    height: 236px;
}
.contact:-moz-placeholder {
    color: #bbb;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.contact::-moz-placeholder {
    color: #bbb;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.contact .text-danger {
    color: #e74c3c;
}
.contact button {
    font-weight: 400;
    margin-top: 30px;
}
.contact .btn-primary {
    font-size: 16px;
    padding: 20px;
}
.contact .btn-primary:hover {
    background: transparent none repeat scroll 0 0;
    color: #ff432e;
}
.clients {
    margin-bottom: 80px;
}
.clients h4 {
    font-family: "Oswald",sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 20px;
}
.clients .speech {
    background: #ff432e none repeat scroll 0 0;
    color: #fff;
    padding: 20px;
}