@CHARSET "ISO-8859-1";

form.login-form input.login-input {
	display: block;
	height: 50px;
	margin: 30px auto 0;
	max-width: 500px;
	padding-left: 10px;
	width: 100%;
}

.button-container-center {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.big-font {
	font-size: larger;
}

html {
	 direction: rtl; 
	
}